<main class="container d-flex justify-content-center align-items-center vh-100">
  <div class="w-50">
    <h1 class="mb-4"><%= t('posts.new.title') %></h1>
    <%= form_with model: @post, local: true do |form| %>
      <% if @post.errors.any? %>
        <div class="alert alert-danger">
          <h2><%= t('posts.new.errors_title', count: @post.errors.count) %></h2>
          <ul>
            <% @post.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <div class="mb-3">
        <%= form.label :title, t('posts.new.title_label'), class: "form-label" %>
        <%= form.text_field :title, class: "form-control" %>
      </div>
      <div class="mb-3">
        <%= form.label :content, t('posts.new.content_label'), class: "form-label" %>
        <%= form.text_area :content, class: "form-control" %>
      </div>
      <div class="mb-3">
        <%= form.submit t('posts.new.submit'), class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</main>
